extends layout
block content
  meta(charset="utf-8")
  link(rel="stylesheet", href="/js/codemirror/lib/codemirror.css")
  link(rel="stylesheet", href="/stylesheets/nice_select.min.css")
  script(src="/js/nice_select.min.js")
  script(src="/js/codemirror/lib/codemirror.js")
  script(src="/js/codemirror/addon/display/placeholder.js")

  .container
    .row
      h2 Question Title
      p Write  program to...
      br
      select.change.pull-right(name='someName')
        option(value="placeholder") C
        option C++
      script.
        $('document').ready(function(){ $('.change').niceselect();})
    .row
      .col-12-md
        br
        textarea#code(name="code", placeholder="Write code here", class="work", width="25")
        br
        textarea#custom-input(cols="30", rows="4")
        br
        input#cust(type="checkbox")
        span 
          |   Custom Input
        p
          button.btn.btn-default.code-send.pull-right(onclick="submit()") Submit
    .row
      .col-12-md
        h2 Output
        div
          p(id="output")  Waiting for results...
  script.
    var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
    lineNumbers : true
    });
    function submit() {
      submitCode(editor, $("#output"), $(".change"), $("#cust"), $("#custom-input"));
    }
    