extends layout
block content
  meta(charset="utf-8")
  link(rel="stylesheet", href="/js/codemirror/lib/codemirror.css")

  script(src="/js/codemirror/lib/codemirror.js")
  script(src="/js/codemirror/addon/display/placeholder.js")

  .container
    .row
      .col-12-md
        h2 Question Title
        p Write  program to...
        form(action="")
          textarea#code(name="code", placeholder="Write code here")
          br
          p
            button.btn.btn-default.code-send(type='submit', align="right") Submit
  script.
    var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
    lineNumbers : true
    });