extends layout
block content
  nav.navbar.navbar-inverse.navbar-static-top
    .container-fluid
      .navbar-header
        a.navbar-brand.text(href="#") {LabWork}
      ul.nav.navbar-nav
        li
          a(href="#") Task
        li
          a(href="/viva") Viva
        li
          a(href="/feedback") Feedback
  .container
    .col-md-6
      form(action='/feedsubmit', method='POST')
        h2 Feedback Form
        br  
        p
          input#email.form-control(name='email' type='email' placeholder='email')
        label.control-label(for='feedback') Feedback
        br
        textarea#feedback.form-control(rows='5', name='feedback', placeholder='Enter text')
        br
        input.btn.btn-default.code-send(type='submit' value="Submit")