extends layout
block content
  .background.bodyPadding
    .row
      .col-md-12
        .mainTitle.text(align='center') {LabWork}
    .row
      div(align='center').col-md-6
        h2(align='center') Teacher Login
        br
        form(method='POST' action="/teacherDashboard").text
          p
            input#email.form-control(type='email' placeholder='email')
          p
            input#pwd.form-control(type='password' placeholder='password')
          p
            button.btn.btn-default(type='submit') Submit

      div(align='center').col-md-6
        h2(align='center') Student Login
        br
        form(method='POST' action="/studentDashboard").text
          p
            input#email.form-control(type='email' placeholder='email')
          p
            input#pwd.form-control(type='password' placeholder='password')
          p
            button.btn.btn-default(type='submit') Submit
