doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    | &#x9;
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    | &#x9;
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    | &#x9;
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
    | &#x9;
    title MCQ
  |   
  body
    link(href='https://fonts.googleapis.com/css?family=Ubuntu', rel='stylesheet')
    style.
      body {
      background-color: #e8ebee;
      line-height: 1.6;
      font-family: 'Ubuntu', 'Lato', sans-serif;
      font-weight: 400;
      color: #4f4f4f;
      }
      body .wrap {
      position: relative;
      width: 65%;
      background-color: white;
      margin: 30px auto;
      padding: 20px 16px;
      overflow: hidden;
      }
      body .row {
      margin: 0 auto;
      max-width: 62.5rem;
      width: 100%;
      }
      body .row:after {
      clear: both;
      }
      .column, .columns {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem;
      }
      .column.centered, .columns.centered {
      margin-left: auto;
      margin-right: auto;
      float: none;
      }
      .column:after, .columns:after {
      content: "";
      display: table;
      clear: both;
      }
      hr {
      border: solid #DDDDDD;
      border-width: 1px 0 0;
      clear: both;
      height: 0;
      margin: 1.25rem 0 1.1875rem;
      }
      h1, h2, h3, h4, h5 {
      font-family: 'Ubuntu', 'Lato', sans-serif;
      font-weight: 700;
      }
      .tCenter {
      text-align: center;
      }
      p.small {
      font-size: 11px;
      color: #828282;
      }
    .wrap
      .row.intro
        .twelve.columns
          h1.tCenter MCQ
          |       
          p Take this MCQ test
      // Alt Radio Group
      .row
        .six.columns.centered
          #main.radio-contain.rd-alt
          |     
          button(onclick='calc()') Submit
        // End Alt Radio Group
      .tCenter
        h1#result(style='font-size:50px;color:#5fba7d')
      script.
        data = []
        $.getJSON("/questions", function(result){
        if(result.length > 0){
        data=result;
        console.log(result);
        for(i = 0; i < data.length; i++){
        elem = '<div class="six columns centered"> <div class="radio-contain rd-alt"> <p class="rd-title" id = "q_' + i + '"> ' + '<span style = "font-size:30px">'+ i +'.</span>' + data[i]["question"] + '</p> <input type="radio" class="rd-hide" value = "one" name="'+i+'" /><span class="rd-desc" id = "one">' + data[i]["option_one"]+ '</span> <input type="radio" class="rd-hide" value = "two" name="'+i+'" /> <span class="rd-desc" id = "two">' + data[i]["option_two"]+ '</span> <input type="radio" class="rd-hide" value = "three" name="' + i +'" /> <span class="rd-desc" value = "three" id = "'+i+'">' + data[i]["option_three"]+ '</span> <input type="radio" class="rd-hide" name="'+i+'" /><span class="rd-desc" value = "four" id = "four">' + data[i]["option_four"]+ '</span> </div> <br /><hr />'
        $("#main").append(elem);
        }
        }
        });
        setTimeout(calc, 1000);
        function calc(){
        console.log("Bhargav");
        var result = 0;
        for(i =0; i < data.length; i++){
        var selected = $('input[name='+i+']:checked').val();
        console.log(selected);
        if(selected == data[i]["correct"]){
        //alert("correct");
        result++;
        }
        }
        $("#result").html("Marks: " + result + "/" + data.length);
        }
