extends layout
block content
  script(type='text/javascript').
    var email = !{JSON.stringify(email)}
    sessionStorage.SessionName = "StudentDetails"
    sessionStorage.setItem("email", email)
  nav.navbar.navbar-inverse.navbar-static-top
    .container-fluid
      .navbar-header
        a.navbar-brand.text(href="#") {LabWork}
      ul.nav.navbar-nav
        li
          a(href="#") Task
        li
          a(href="#") Viva
        li
          a(href="/code") Code
