extends layout
block content
  script(type='text/javascript').
    var email = !{JSON.stringify(email)}
    sessionStorage.SessionName = "StudentDetails"
    sessionStorage.setItem("email", email)
    //- $.post('/getQuestion', {
    //-   "q_id" : "1"
    //- }).done(function(output) {
    //-   console.log(output);
    //- });
  nav.navbar.navbar-inverse.navbar-static-top
    .container-fluid
      .navbar-header
        a.navbar-brand.text(href="#") {LabWork}
      ul.nav.navbar-nav
        li
          a(href="#") Task
        li
          a(href="/viva") Viva
  .container
    .row
      .col-md-12
        h1
          a(href="/code") 1. Quick Sort
