.bodyPadding {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.mainTitle {
  font: 4em "Courier New";
  padding: 8%;
}

.text {
  color: #00ad9a; 
}

.form-control {
  width: 70%;
}

a {
  color: #00B7FF;
}

.navbar-inverse {
  padding: 0.5%;
  font-size: 1.4em;
}
 
/* NavBar Brand Color */
.navbar-inverse .navbar-brand {
  color: #00ad9a;
}

.navbar-inverse .navbar-brand:hover {
  color: #08fcdb;
}
/* NavBar Brand Color END */
