.bodyPadding {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.mainTitle {
  font: 4em "Courier New";
  padding: 8%;
}

.text {
  color: #00ad9a; 
}

.form-control {
  width: 70%;
}

a {
  color: #00B7FF;
}

.navbar-inverse {
  padding: 0.5%;
  font-size: 1.4em;
}
 
/* NavBar Brand Color */
.navbar-inverse .navbar-brand {
  color: #00ad9a;
}

.navbar-inverse .navbar-brand:hover {
  color: #08fcdb;
}
/* NavBar Brand Color END */

/* Code Editor */
.CodeMirror { 
  border: 1px solid silver; 
}

.CodeMirror-empty { 
  outline: 2px solid #00ad9a; 
}

.CodeMirror-empty.CodeMirror-focused { 
  outline: none; 
}

.CodeMirror pre.CodeMirror-placeholder { 
  color: #999;
}

.code-send {
  padding: 8px;
  background-color: #00ad9a;
  color: white;
  border-color: #00ad9a;
}

.code-send:hover {
  background-color: white;
  color: #00ad9a;
  border-color: #00ad9a;
}

#custom-input {
  border: 1px solid #00ad9a; 
}

#custom-input:focus {
  outline: none; 
}




